@import "tailwindcss";

body {
  background-color: #050507;
  color: #ffffff;
}

/* Hide scrollbar for chrome, safari and opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}